<h1> New Purchase </h1> 

<% if @purchased.errors.any? %>
    <% @purchased.errors.full_messages.each do |msg| %>
    <p> <%= msg %></p>
    <% end %>  
<% end %>

<%= form_for @purchased do |p| %>

    <p> <label> Item </label> <br>
    <%= p.collection_select :item_id, Item.all, :id, :name %>
    
    <%= p.hidden_field :user_id %>
    <%= p.hidden_field :item_id %>
    
    <p> <%= p.submit "Add to cart" %> </p>
<% end %> 