<% if @comment.errors.any? %>
    <% @comment.errors.full_messages.each do |msg| %>
    <p> <%= msg %></p>
    <% end %>  
<% end %>



<%= form_for @comment do |c| %>

    <p> <label> Rating (out of 5) </label> <br> 
    <%= c.number_field :rating %> </p> 

    <p> <label> Comment </label> <br> 
    <%= c.text_area :decription %> </p>

    <p> <label> Item </label> <br>
    <%= c.collection_select :item_id, Item.all, :id, :name %>
    
    <%= c.hidden_field :user_id %>
    
    <p> <%= c.submit "Save" %> </p>
<% end %> 
