<p> <%= flash[:notice] %> </p> 
<h1> Hello <%= @user.name %> </h1>

<p> You have $<%=@user.balance%> in your account. <p>

<%= button_to "Edit your details", edit_user_path, method: :get %> 
<br> 
<%= button_to "Place an order", items_path, method: :get %>
<br> 
<%= button_to "Log out", logout_path %>



<h3> Past Purchases </h3> 

<h3> Past Feedback </h3> 

<% @user.comments.each do |c| %> 
    <p> <%= c.item.name%> (<%=c.rating %> out of 5) <%= link_to "edit", edit_user_comment_path(@user.id) %> </p> 
    <p> <%=button_to "Delete", comment_path(c.id), method: :delete%> </p> 
<% end %> 
