<h1> Showing all items </h1> 
<p> <%= flash[:notice] %> </p> 

    <br> 

    <h2> Highly Rated (4 stars and above) </h2> 
    <% @highrated.each do |i| %> 
        <p> <%= link_to  i.name, item_path(i.id) %> ($<%=i.price %>) </p> 
    <% end %>
    
    <br> 

    <h2> Top 3 most popular </h2> 
    <% @popular_items.each do |i| %> 
       <p> <%= link_to  i.name, item_path(i.id) %>  (<%= i.purchased_items.count %> purchases) </p> 
    <% end %> 
    
    <br> 

    <h2> All items by Category </h2> 
    <% @categories.each do |c| %> 
        <h3> <div style="float: left; width: auto;"> <%= c.name %>  </div> </h3> 
            <% if c.items.count < 1 && @user.admin %>
                <%= button_to "Remove Category", category_path(c.id), method: :delete%>
            <% end %> 
            <br> 
            <% c.items.each do |i| %> 
                <p> <%= link_to  i.name, item_path(i.id) %> ($<%=i.price %>) </p> 
            <% end %>  
    <% end %> 

<br> 
<br> 

<%= button_to "Back to Your details", user_path(@user.id), method: :get%>
<br> 
<%= button_to "Log out", logout_path %>
<br> 
<% if @user.admin %>
<h3> Admin Only </h3> 
<%= button_to "Add a new item", new_item_path, method: :get%>
<% end %> 
 

