<h1> Showing all items </h1> 


    <% @categories.each do |c| %> 
        <h3> <%= c.name %> </h3> 
            <% c.items.each do |i| %> 
                <p> <div style="float: left; width: auto;"> <%= link_to  i.name, item_path(i.id) %> ($<%=i.price %>) </div> <%=button_to "add to cart", item_path(i.id)%> </p> 
            <% end %>  
    <% end %> 
 
<%= button_to "add an item", new_item_path, method: :get%>