<h1> <%= @item.name %> </h1> 
<p> <%= flash[:notice] %> </p> 

<p> Description: <%=@item.description %> </p> 

<p> Category: <%=@item.category_name %> </p> 

<p> Price: $<%=@item.price %> </p> 


<%= button_to "Purchase", action: "purchase"%> 
<br> 
<%=button_to "< Back to all items", items_path, method: :get%> 
<br> 
<%= button_to "<< Back to your details", user_path(@user.id), method: :get%>

<h3> Ratings and Feedback 
<%= @item.average_rating %> out of 5 </h3> 
<%= @item.comments_count %> customer reviews

<ul> 
<% @comments.each do |c| %> 
    <li> <%= c.rating %> out of 5 
    <%= c.decription %> </li> 
<% end %> 
</ul> 
<br> 
<%=button_to "Leave a review", new_item_comment_path(@item.id), method: :get%> 
<br> 


<% if @user.admin %>
<h3> Admin Only </h3> 
<%=button_to "Edit", edit_item_path(@item.id), method: :get%> 
<br> 
<%=button_to "Delete", item_path(@item.id), method: :delete%> 
<% end %> 
