<p> <%= flash[:notice] %> </p> 
<h1> <%= @item.name %> </h1> 

<p> Description: <%=@item.description %> </p> 

<p> Category: <%=@item.category_name %> </p> 

<p> Price: $<%=@item.price %> </p> 

<p> Points earned: $<%=@item.points %> </p> 


<%=button_to "add to cart", item_path(@item.id)%>
<br> 
<%=button_to "< back to all items", items_path, method: :get%> 
<br> 
<%= button_to "<< back to your details", user_path(@user.id), method: :get%>

<h3> Ratings and Feedback </h3> 
<% @comments.each do |c| %> 
    <p> <%= c.rating %> out of 5 
    <%= c.decription %> </p> 
<% end %> 
<br> 
<%=button_to "Leave a review", new_item_comment_path(@item.id), method: :get%> 
<br> 


<% if @user.admin %>
<h3> Admin Only </h3> 
<%=button_to "Edit", edit_item_path(@item.id), method: :get%> 
<br> 
<%=button_to "Delete", item_path(@item.id), method: :delete%> 
<% end %> 
